<div class='row'>
  <div id="<%= dom_id user %>">
    <p>
      <strong>First name:</strong>
      <%= user.first_name %>
    </p>

    <p>
      <strong>Last name:</strong>
      <%= user.last_name %>
    </p>

    <p>
      <strong> Role: </strong>
      <%= user.role.name %>
    </p>
    <p>
      <strong>Image:</strong>
      <%= image_tag(user.image, height: 50, width: 50) if user.image.present? %>
    </p>


  </div>
</div>
